---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Thank you">
<main>
    <section>
        <div class="header">
            <h1 style="line-height: 1;">Thanks for reaching out.</h1>
            <nav class="half-opacity monospace"><a href="../">← Home</a></nav>
        </div>
    </section>
</main>
</Layout>