---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Company from "../components/Company.astro";

const clients = await getCollection("projects", ({ data }) => {
    return data.type === "client";
});
---

<Layout title="Nicolas Trillo">
    <main>
        <section id="introduction">
            <div class="in-grid">
                <p id="name">Nicolas Trillo G</p>
                <a id="ibm" target="_blank" href="https://coursera.org/verify/professional-cert/J98NKIC7LRJ1"><code>IBM</code> Mainframe Developer</a>
                <p id="soft">Software Developer</p>
                <p id="fullstack">Full stack web Developer</p>
                <p id="position">SI Leader @ SLC</p>
                <p id="linkedin" class="half-opacity">
                    Reach me: 
                    <a target="_blank" href="https://www.linkedin.com/in/nicolas-trillo/">LinkedIn</a>, 
                    <a href="mailto:nicolas@ntrillo.com">email</a>
                </p>
                <p id="location" class="half-opacity">Ontario, Canada</p>
            </div>
        </section>
        <section id="clients">
            <div id="tech">
                <p>I work with:</p>
                <code>COBOL, JCL, CICS, z/OS, Agile, C++, C#.NET, SQL, mongoDB, Java, Swift, PHP, Linux (Red Hat), Bash, Node.JS, Express.JS, Astro, React.</code>
            </div>
            <div class="mob-br">
                <br>
            </div>
            <p>Past projects</p>
            <div class="cards-container">
                {
                    clients.map((client) => (
                    <Company
                    name={client.data.title}
                    href={`./${client.slug}`}
                    color={client.data.color}
                    image={client.data.image.src}
                    />
                    ))
                }
            </div>
            <p id="copy" class="half-opacity small"><br/> &copy; {new Date().getFullYear()} Nicolas Trillo Gutierrez</p>
        </section>
    </main>
</Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    #introduction {
        background-color: #007aff;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    .in-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: fit-content fit-content fit-content;
        gap: 20px 0px;
    }
    .in-grid > * {
        padding: 5px;
        transition: 0.05s ease-in-out;
    }
    .in-grid > *:hover, .in-grid > *:focus {
        background-color: rgba(255, 255, 255, 0.2);
    }
    @media (min-width: 711px) {
        #name {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        #ibm {
            grid-column: 1;
            grid-row: 2;
        }
        #soft {
            grid-column: 2;
            grid-row: 2;
        }
        #fullstack {
            grid-column: 3;
            grid-row: 2;
        }
        #position {
            grid-column: 4;
            grid-row: 2;
        }
        #linkedin {
            grid-column: 1;
            grid-row: 3;
        }
        #location {
            grid-column: 4;
            grid-row: 3;
        }
    }
    #copy {
        text-align: right;
    }
    #introduction > * {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    #introduction * {
        color: var(--bg-color);
    }
    .cards-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    @media (max-width: 700px) {
        .cards-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    #tech {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    @media (max-width: 710px) {
        #name {
            font-weight: 700;
        }
        .in-grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }
    }
    .mob-br {
        display: none;
    }
    @media (max-width: 340px) {
        #tech {
            grid-template-columns: repeat(1, 1fr);
        }
        .mob-br {
            display: flex;
        }
    }
</style>
